<?xml version="1.0" encoding="UTF-8" ?>
<!--
 ____        _ _    ___  ____
/ ___|  __ _| | |_ / _ \/ ___|
\___ \ / _` | | __| | | \___ \
 ___) | (_| | | |_| |_| |___) |
|____/ \__,_|_|\__|\___/|____/

SaltOS: Framework to develop Rich Internet Applications
Copyright (C) 2007-2016 by Josep Sanz Campderrós
More information in http://www.saltos.org or info@saltos.org

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<root>
	<info>
		<name>SaltOS</name>
		<version>3.5</version>
		<revision eval="true">svnversion("../code")</revision>
		<copyright>Copyright (C) 2007-2016 by Josep Sanz Campderrós</copyright>
		<title config="true">application_title</title>
		<favicon>img/favicon.png</favicon>
	</info>
	<db>
		<type>pdo_sqlite</type>
		<host>localhost</host><!-- for MySQL -->
		<port>3306</port><!-- for MySQL -->
		<user>saltos</user><!-- for MySQL -->
		<pass>saltos</pass><!-- for MySQL -->
		<name>saltos</name><!-- for MySQL -->
		<file eval="true">getcwd()."/files/saltos.db"</file><!-- for SQLite -->
		<datatypes>
			<int>TINYINT,SMALLINT,MEDIUMINT,INT,BIGINT,INTEGER</int>
			<string>TINYTEXT,TEXT,MEDIUMTEXT,LONGTEXT,VARCHAR</string>
			<float>DECIMAL,NUMERIC,FLOAT,REAL,DOUBLE</float>
			<date>DATE</date>
			<time>TIME</time>
			<datetime>DATETIME</datetime>
		</datatypes>
		<usecache>true</usecache>
		<nocaches>
			<nocache>INSERT</nocache>
			<nocache>UPDATE</nocache>
			<nocache>DELETE</nocache>
			<nocache>CREATE</nocache>
		</nocaches>
		<noexports>
			<noexport>tbl_aplicaciones</noexport>
			<noexport>tbl_aplicaciones_i</noexport>
			<noexport>tbl_aplicaciones_p</noexport>
			<noexport>tbl_estados_a</noexport>
			<noexport>tbl_permisos</noexport>
			<noexport>tbl_tiposcom</noexport>
			<noexport>tbl_codpostal</noexport>
			<noexport>tbl_paises</noexport>
			<noexport>tbl_poblaciones</noexport>
			<noexport>tbl_provincias</noexport>
			<noexport>tbl_security</noexport>
			<noexport>tbl_security_ip</noexport>
			<noexport>tbl_sessions</noexport>
		</noexports>
		<dbschema>true</dbschema>
		<dbstatic>true</dbstatic>
		<semaphoretimeout>10000000</semaphoretimeout><!-- in microseconds, only for SQLite -->
	</db>
	<sess>
		<save_path>saltos</save_path>
		<timeout>3600</timeout><!-- in seconds, 3600 is 1 hour -->
		<probability>1</probability>
		<divisor>100</divisor>
	</sess>
	<server>
		<hostname></hostname>
		<pathname></pathname>
		<forcessl>false</forcessl>
		<porthttp>80</porthttp>
		<porthttps>443</porthttps>
		<dirindex>index.php</dirindex>
		<percentstop>90</percentstop><!-- long actions stop when reached the 90% of max_execution_time -->
	</server>
	<default>
		<page>home</page>
		<action>list</action>
		<id>0</id>
		<format>HTML</format><!-- output format can be XML or HTML -->
		<lang>es_ES</lang>
		<style eval="true">ismobile()?"custom.blue":"custom.blue"</style>
		<stylepre eval="true">ismobile()?"lib/jquery/jquery.mobile.":"lib/jquery/jquery-ui."</stylepre>
		<stylepost eval="true">ismobile()?"/jquery.mobile.min.css":"/jquery-ui.min.css"</stylepost>
		<iconset>silk</iconset>
		<iconsetpre>?action=iconset&amp;iconset=</iconsetpre>
		<iconsetpost>&amp;format=css</iconsetpost>
		<forcelang eval="true">getParam("lang")</forcelang>
		<forcestyle eval="true">getParam("style")</forcestyle>
		<forceiconset eval="true">ismobile()?"mobile":""</forceiconset>
		<forcecss eval="true">ismobile()?"mobile":""</forcecss>
		<forcejs eval="true">ismobile()?"mobile":""</forcejs>
		<forcexsl eval="true">ismobile()?"mobile":""</forcexsl>
		<regspagerlist>25,50,100,200,500,1000</regspagerlist>
		<regspagerdef>50</regspagerdef>
		<regspagermobile>10</regspagermobile>
		<semaphoretimeout>100000</semaphoretimeout><!-- in microseconds -->
		<commandtimeout>60</commandtimeout><!-- in seconds, 60 is 1 minute -->
		<commandexpires>3600</commandexpires><!-- in seconds, 3600 is 1 hour -->
		<nativesoffice>true</nativesoffice>
		<enablevoice>true</enablevoice>
		<enabletranslate>true</enabletranslate>
		<enableindexing>true</enableindexing>
	</default>
	<dirs>
		<filesdir eval="true">getcwd()."/files"</filesdir>
		<cachedir eval="true">getcwd()."/cache"</cachedir>
		<inboxdir eval="true">getcwd()."/inbox"</inboxdir>
		<outboxdir eval="true">getcwd()."/outbox"</outboxdir>
	</dirs>
	<exts>
		<defaultext>.dat</defaultext>
		<inputext>.in</inputext>
		<outputext>.out</outputext>
		<logext>.log</logext>
		<emailext>.eml</emailext>
		<gzipext>.gz</gzipext>
		<objectext>.obj</objectext>
		<semext>.sem</semext>
		<zipext>.zip</zipext>
		<pdfext>.pdf</pdfext>
		<textext>.txt</textext>
		<tarext>.tar</tarext>
		<excelext>.xls</excelext>
		<wavext>.wav</wavext>
		<mp3ext>.mp3</mp3ext>
		<htmext>.htm</htmext>
		<htmlext>.html</htmlext>
		<sqlext>.sql</sqlext>
		<csvext>.csv</csvext>
		<xmlext>.xml</xmlext>
		<pngext>.png</pngext>
		<targzipext>.tgz</targzipext>
		<tarbzipext>.tbz</tarbzipext>
		<tiffext>.tif</tiffext>
		<hocrext>.hocr</hocrext>
		<jpegext>.jpg</jpegext>
		<jsonext>.json</jsonext>
	</exts>
	<cache>
		<cachegcenabled>true</cachegcenabled>
		<cachegctimeout>86400</cachegctimeout><!-- in seconds, 86400 is 1 day -->
		<cachegcprobability>1</cachegcprobability>
		<cachegcdivisor>100</cachegcdivisor>
		<usecsscache>true</usecsscache>
		<usejscache>true</usejscache>
		<useimginline>true</useimginline>
	</cache>
	<commands>
		<unoconv>unoconv</unoconv><!-- for unoconv module -->
		<__unoconv__>-f __FORMAT__ -o __OUTPUT__ __INPUT__</__unoconv__>
		<__unoconv_about__>--show 2&gt;&amp;1</__unoconv_about__>
		<soffice>soffice</soffice>
		<__soffice__>--headless --convert-to __FORMAT__ --outdir __OUTDIR__ __INPUT__</__soffice__>
		<pdftotext>pdftotext</pdftotext><!-- for unoconv module -->
		<__pdftotext__>-nopgbrk -layout __INPUT__ __OUTPUT__</__pdftotext__>
		<text2wave>text2wave</text2wave><!-- for voice module -->
		<__text2wave__>-eval '(voice_JuntaDeAndalucia_es_sf_diphone)' __INPUT__ -o __OUTPUT__</__text2wave__>
		<__text2wave_es__>-eval '(voice_JuntaDeAndalucia_es_sf_diphone)' __INPUT__ -o __OUTPUT__</__text2wave_es__>
		<__text2wave_en__>-eval '(voice_nitech_us_bdl_arctic_hts)' __INPUT__ -o __OUTPUT__</__text2wave_en__>
		<wavetomp3>lame</wavetomp3><!-- for voice module -->
		<__wavetomp3__>--quiet __INPUT__ __OUTPUT__</__wavetomp3__>
		<apertium>apertium</apertium><!-- for translate module -->
		<__apertium__>-f txtu __LANGS__ &lt; __INPUT__</__apertium__>
		<__apertium_langs__>-l</__apertium_langs__>
		<aspell>aspell</aspell><!-- for translate module -->
		<__aspell__>-a --mode=none --sug-mode=ultra -l __LANG__ &lt; __INPUT__</__aspell__>
		<__aspell_langs__>dump dicts</__aspell_langs__>
		<which>which</which><!-- for check commands -->
		<__which__>__INPUT__</__which__>
		<pdftoppm>pdftoppm</pdftoppm><!-- for ocr module included in unoconv -->
		<__pdftoppm__>-r 300 -l 1000 __INPUT__ __OUTPUT__</__pdftoppm__>
		<convert>convert</convert><!-- for ocr module included in unoconv -->
		<__convert__>__INPUT__ -quality 100 __OUTPUT__</__convert__>
		<tesseract>tesseract</tesseract><!-- for ocr module included in unoconv -->
		<__tesseract__>__INPUT__ __OUTPUT__ -psm 1 hocr</__tesseract__>
		<timeout>timeout</timeout>
		<__timeout__>__TIMEOUT__ __COMMAND__</__timeout__>
		<preview>wkhtmltoimage</preview>
		<__preview__>--load-error-handling ignore --format __FORMAT__ --width __WIDTH__ --height __HEIGHT__ --javascript-delay __DELAY__ --custom-header "User-Agent" "__USER_AGENT__" --custom-header-propagation --quiet "__INPUT__" __OUTPUT__</__preview__>
		<xserver>xvfb-run</xserver>
		<__xserver__>-a -s "-screen 0 __WIDTH__x__HEIGHT__x__COLORS__" __COMMAND__</__xserver__>
	</commands>
	<debug>
		<actiondebug>false</actiondebug>
		<langdebug>false</langdebug>
		<databasedebug>false</databasedebug>
		<cancelgetmail>false</cancelgetmail>
		<cancelsendmail>false</cancelsendmail>
		<cancelfeeds>false</cancelfeeds>
		<getmaildebug>false</getmaildebug>
		<getmailmsgid></getmailmsgid>
		<logfile>saltos.log</logfile>
		<errorfile>error.log</errorfile>
		<warningfile>warning.log</warningfile>
		<maxfilesize>1M</maxfilesize>
	</debug>
	<parser>
		<preevals>
			<preeval>preeval_insert_query</preeval>
			<preeval>preeval_update_query</preeval>
			<preeval>preeval_update_config</preeval>
			<preeval>preeval_dependencies_query</preeval>
		</preevals>
	</parser>
	<styles>
		<cache ifeval="!ismobile()">
			<include>lib/jquery/jquery.colorpicker.min.css</include>
			<include>lib/jquery/jquery.ptTimeSelect.min.css</include>
			<include>lib/jquery/jquery.jgrowl.min.css</include>
			<include>lib/pdfjs/pdf_viewer.min.css</include>
			<include>lib/codemirror/codemirror.min.css</include>
		</cache>
	</styles>
	<javascript>
		<cache ifeval="!ismobile()">
			<include>lib/phpjs/php.saltos.min.js</include>
			<include>lib/jquery/jquery.min.js</include>
			<include>lib/jquery/jquery.kookie.min.js</include>
			<include>lib/jquery/jquery.form.min.js</include>
			<include>lib/jquery/jquery-ui.min.js</include>
			<include>lib/jquery/jquery.autogrow-textarea.min.js</include>
			<include>lib/jquery/jquery.blockUI.min.js</include>
			<include>lib/jquery/jquery.jgrowl.min.js</include>
			<include>lib/jquery/jquery.colorpicker.min.js</include>
			<include>lib/jquery/jquery.ptTimeSelect.min.js</include>
			<include>lib/jquery/jquery.favicon.min.js</include>
			<include>lib/jquery/jquery.jplayer.min.js</include>
			<include>lib/zlibjs/rawdeflate.min.js</include>
			<include>lib/zlibjs/rawinflate.min.js</include>
			<include>lib/zlibjs/stringToBytes.js</include>
			<include>lib/zlibjs/bytesToString.js</include>
		</cache>
		<inline ifeval="!ismobile()">window.CKEDITOR_BASEPATH="lib/ckeditor/";</inline>
		<cache ifeval="!ismobile()">
			<include>lib/ckeditor/ckeditor.js</include>
			<include>lib/ckeditor/adapters/jquery.js</include>
			<include>lib/pdfjs/compatibility.min.js</include>
			<include>lib/pdfjs/pdf.min.js</include>
			<include>lib/pdfjs/pdf_viewer.min.js</include>
			<include>lib/codemirror/codemirror.min.js</include>
			<include>lib/codemirror/codemirror.mode.min.js</include>
		</cache>
		<cache ifeval="ismobile()">
			<include>lib/phpjs/php.saltos.min.js</include>
			<include>lib/jquery/jquery-2.2.4.min.js</include>
			<include>lib/jquery/jquery.kookie.min.js</include>
			<include>lib/jquery/jquery.form.min.js</include>
			<include>lib/jquery/jquery.mobile.min.js</include>
			<include>lib/jquery/jquery.autogrow-textarea.min.js</include>
			<include>lib/zlibjs/rawdeflate.min.js</include>
			<include>lib/zlibjs/rawinflate.min.js</include>
			<include>lib/zlibjs/stringToBytes.js</include>
			<include>lib/zlibjs/bytesToString.js</include>
		</cache>
	</javascript>
	<configs>
		<application_title>Suite de Gestión Empresarial</application_title>
		<plot_list_size>1</plot_list_size>
		<plot_list_width>350</plot_list_width>
		<plot_list_height>200</plot_list_height>
		<plot_form_size>1</plot_form_size>
		<plot_form_width>350</plot_form_width>
		<plot_form_height>200</plot_form_height>
		<agenda_interval>30</agenda_interval>
		<inbox_interval>300</inbox_interval>
		<outbox_interval>30</outbox_interval>
		<feeds_interval>300</feeds_interval>
		<feeds_timeout>7</feeds_timeout>
		<session_interval>30</session_interval>
		<session_warning>300</session_warning>
		<indexing_interval>300</indexing_interval>
		<water_actas_text>Confidencial</water_actas_text>
		<water_actas_posx>40</water_actas_posx>
		<water_actas_posy>220</water_actas_posy>
		<water_actas_size>100</water_actas_size>
		<water_actas_angle>60</water_actas_angle>
		<water_partes_text>Confidencial</water_partes_text>
		<water_partes_posx>40</water_partes_posx>
		<water_partes_posy>220</water_partes_posy>
		<water_partes_size>100</water_partes_size>
		<water_partes_angle>60</water_partes_angle>
		<water_facturas_text>Factura</water_facturas_text>
		<water_facturas_posx>40</water_facturas_posx>
		<water_facturas_posy>210</water_facturas_posy>
		<water_facturas_size>130</water_facturas_size>
		<water_facturas_angle>60</water_facturas_angle>
		<water_albaranes_text>Albarán</water_albaranes_text>
		<water_albaranes_posx>40</water_albaranes_posx>
		<water_albaranes_posy>210</water_albaranes_posy>
		<water_albaranes_size>130</water_albaranes_size>
		<water_albaranes_angle>60</water_albaranes_angle>
		<water_presupuestos_text>Presupuesto</water_presupuestos_text>
		<water_presupuestos_posx>40</water_presupuestos_posx>
		<water_presupuestos_posy>220</water_presupuestos_posy>
		<water_presupuestos_size>100</water_presupuestos_size>
		<water_presupuestos_angle>60</water_presupuestos_angle>
		<water_clientes_text>Información</water_clientes_text>
		<water_clientes_posx>40</water_clientes_posx>
		<water_clientes_posy>220</water_clientes_posy>
		<water_clientes_size>100</water_clientes_size>
		<water_clientes_angle>60</water_clientes_angle>
		<water_proyectos_text>Información</water_proyectos_text>
		<water_proyectos_posx>40</water_proyectos_posx>
		<water_proyectos_posy>220</water_proyectos_posy>
		<water_proyectos_size>100</water_proyectos_size>
		<water_proyectos_angle>60</water_proyectos_angle>
		<water_posiblescli_text>Información</water_posiblescli_text>
		<water_posiblescli_posx>40</water_posiblescli_posx>
		<water_posiblescli_posy>220</water_posiblescli_posy>
		<water_posiblescli_size>100</water_posiblescli_size>
		<water_posiblescli_angle>60</water_posiblescli_angle>
		<water_correo_text>Confidencial</water_correo_text>
		<water_correo_posx>40</water_correo_posx>
		<water_correo_posy>220</water_correo_posy>
		<water_correo_size>100</water_correo_size>
		<water_correo_angle>60</water_correo_angle>
		<water_feeds_text>Información</water_feeds_text>
		<water_feeds_posx>40</water_feeds_posx>
		<water_feeds_posy>220</water_feeds_posy>
		<water_feeds_size>100</water_feeds_size>
		<water_feeds_angle>60</water_feeds_angle>
		<logo_left>118</logo_left>
		<logo_top>15</logo_top>
		<logo_width>72</logo_width>
		<logo_height>15</logo_height>
		<logo_file>../img/deflogo.png</logo_file>
		<color_line>#666666</color_line>
		<color_text1>#ce141d</color_text1>
		<color_text2>#666666</color_text2>
		<email_host></email_host>
		<email_port></email_port>
		<email_extra></email_extra>
		<email_user></email_user>
		<email_pass></email_pass>
		<email_name></email_name>
		<email_from></email_from>
		<email_async>1</email_async>
		<email_support></email_support>
		<quick_button_f1>home</quick_button_f1>
		<quick_button_f2>correo</quick_button_f2>
		<quick_button_f3>agenda</quick_button_f3>
		<quick_button_f4>feeds</quick_button_f4>
		<quick_button_f5></quick_button_f5>
		<quick_button_f6></quick_button_f6>
		<quick_button_f7></quick_button_f7>
		<quick_button_f8></quick_button_f8>
		<quick_button_f9>profile</quick_button_f9>
		<quick_button_f10>support</quick_button_f10>
		<quick_button_f11>about</quick_button_f11>
		<quick_button_f12>logout</quick_button_f12>
		<accounting_currency>€</accounting_currency>
		<accounting_iva_name>I.V.A.</accounting_iva_name>
		<accounting_iva_value>21.00</accounting_iva_value>
		<accounting_irpf_name>I.R.P.F.</accounting_irpf_name>
		<accounting_irpf_value>19.00</accounting_irpf_value>
		<zero_padding_digits>5</zero_padding_digits>
		<invoice_count_size>3</invoice_count_size>
		<invoice_date_size>2</invoice_date_size>
	</configs>
	<ini_set>
		<session.bug_compat_42 ifeval="!isphp(5.4)">On</session.bug_compat_42>
		<register_globals ifeval="!isphp(5.4)">Off</register_globals>
		<memory_limit>192M</memory_limit>
		<max_execution_time>600</max_execution_time><!-- in seconds, 600 are 10 minutes -->
		<date.timezone>Europe/Madrid</date.timezone>
		<default_charset>UTF-8</default_charset>
		<gd.jpeg_ignore_warning ifeval="!ishhvm()">1</gd.jpeg_ignore_warning>
		<mbstring.internal_encoding>UTF-8</mbstring.internal_encoding>
		<mbstring.detect_order eval="true">implode(",",array_intersect(explode(",","UTF-16,ASCII,Windows-1250,Windows-1251,Windows-1252,Windows-1253,Windows-1254,Windows-1255,Windows-1256,Windows-1257,Windows-1258,ISO-8859-1,ISO-8859-2,ISO-8859-3,ISO-8859-4,ISO-8859-5,ISO-8859-6,ISO-8859-7,ISO-8859-8,ISO-8859-9,ISO-8859-10,ISO-8859-11,ISO-8859-12,ISO-8859-13,ISO-8859-14,ISO-8859-15,ISO-8859-16,CP1256,CP1250,CP1252,CP437,CP737,CP850,CP852,CP855,CP857,CP858,CP860,CP861,CP862,CP863,CP865,CP866,CP869,CP37,CP930,CP1047,MIK,ISCII,TSCII,VISCII,JIS X 0208,EUC-JP,GB 2312,GBK,Big5,HKSCS,KS X 1001,EUC-KR,ISO-2022-KR,Mac OS Roman,KOI7,KOI8-U,KOI8-R,GB18030,GB2312 80"),mb_list_encodings()))</mbstring.detect_order>
		<magic_quotes_gpc ifeval="!isphp(5.4)">Off</magic_quotes_gpc>
	</ini_set>
	<putenv>
		<PATH>/bin:/usr/bin:/usr/local/bin</PATH>
		<LANG>es_ES.UTF-8</LANG>
		<HOME>/tmp/</HOME>
	</putenv>
	<captcha>
		<id>captcha</id>
		<width>90</width>
		<height>45</height>
		<letter>8</letter>
		<number>16</number>
		<angle>10</angle>
		<color>5C8ED1</color>
		<bgcolor>C8C8C8</bgcolor>
		<fgcolor>B4B4B4</fgcolor>
		<type>math</type><!-- captcha type can be number or math -->
		<length>5</length>
		<period>4</period>
		<amplitude>8</amplitude>
		<blur>true</blur>
	</captcha>
	<security>
		<filterenabled>true</filterenabled><!-- enable security module -->
		<maxretries>3</maxretries><!-- number of failed retries until displays captcha -->
		<allowremember>true</allowremember><!-- enable or disable the remember feature -->
		<cookietimeout>2592000</cookietimeout><!-- in seconds, 2592000 are 30 days -->
		<minscore>50</minscore><!-- min password strength score -->
		<allowbasicauth>true</allowbasicauth><!-- enable or disable the basic auth feature -->
	</security>
	<defines>
		<htmlpage>body { margin:0px;padding:0px; }</htmlpage>
		<htmlbox>background:#ffffff</htmlbox>
		<htmltext>font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;font-size:11px;color:#333</htmltext>
		<plaintext>font-family:monospace;line-height:1em;font-size:10px;color:#333</plaintext>
		<separator>border:0px;height:1px;background:#ccc</separator>
		<blockquote>border-left:#ccc 1px solid;margin:0px 0px 0px 0.8ex;padding-left:1ex</blockquote>
		<signature>font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;font-size:11px;color:#ccc</signature>
	</defines>
</root>
