<?xml version="1.0" encoding="UTF-8" ?>
<!--
 ____        _ _    ___  ____
/ ___|  __ _| | |_ / _ \/ ___|
\___ \ / _` | | __| | | \___ \
 ___) | (_| | | |_| |_| |___) |
|____/ \__,_|_|\__|\___/|____/

SaltOS: Framework to develop Rich Internet Applications
Copyright (C) 2007-2014 by Josep Sanz Campderrós
More information in http://www.saltos.net or info@saltos.net

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<root>
	<info>
		<name>SaltOS</name>
		<version>3.1</version>
		<revision eval="true">svnversion("../code")</revision>
		<copyright>Copyright (C) 2007-2014 by Josep Sanz Campderrós</copyright>
		<title config="true">application_title</title>
		<favicon>img/favicon.png</favicon>
	</info>
	<db>
		<type>pdo_sqlite</type>
		<host>localhost</host><!-- for MySQL -->
		<port>3306</port><!-- for MySQL -->
		<user>saltos</user><!-- for MySQL -->
		<pass>saltos</pass><!-- for MySQL -->
		<name>saltos</name><!-- for MySQL -->
		<file eval="true">getcwd()."/files/saltos.db"</file><!-- for SQLite -->
		<datatypes>
			<int>INTEGER,INT</int>
			<string>TINYTEXT,TEXT,MEDIUMTEXT,LONGTEXT,VARCHAR</string>
			<float>DECIMAL,FLOAT,DOUBLE</float>
			<date>DATE</date>
			<time>TIME</time>
			<datetime>DATETIME</datetime>
		</datatypes>
		<usecache>true</usecache>
		<nocaches>
			<nocache>INSERT</nocache>
			<nocache>UPDATE</nocache>
			<nocache>DELETE</nocache>
			<nocache>CREATE</nocache>
		</nocaches>
		<noexports>
			<noexport>tbl_aplicaciones</noexport>
			<noexport>tbl_aplicaciones_i</noexport>
			<noexport>tbl_aplicaciones_p</noexport>
			<noexport>tbl_estados_a</noexport>
			<noexport>tbl_permisos</noexport>
			<noexport>tbl_tiposcom</noexport>
			<noexport>tbl_codpostal</noexport>
			<noexport>tbl_paises</noexport>
			<noexport>tbl_poblaciones</noexport>
			<noexport>tbl_provincias</noexport>
			<noexport>tbl_security</noexport>
			<noexport>tbl_security_ip</noexport>
			<noexport>tbl_sessions</noexport>
		</noexports>
		<dbschema>true</dbschema>
		<dbstatic>true</dbstatic>
		<semaphoretimeout>10000000</semaphoretimeout><!-- for SQLite --><!-- in microseconds -->
	</db>
	<sess>
		<save_path>saltos</save_path>
		<session_name></session_name>
		<timeout>3600</timeout>
		<probability>1</probability>
		<divisor>100</divisor>
	</sess>
	<server>
		<hostname></hostname>
		<forcessl>false</forcessl>
		<porthttp>80</porthttp>
		<porthttps>443</porthttps>
	</server>
	<default>
		<page>home</page>
		<action>list</action>
		<id>0</id>
		<format>HTML</format><!-- output format can be XML or HTML -->
		<obhandler>ob_gzhandler</obhandler>
		<lang>es_ES</lang>
		<style>blue</style>
		<stylepre>xml.php?action=themeroller&amp;theme=</stylepre>
		<stylepost></stylepost>
		<iconset>silk</iconset>
		<iconsetpre>xml.php?action=iconset&amp;iconset=</iconsetpre>
		<iconsetpost>&amp;format=css</iconsetpost>
		<forcelang></forcelang>
		<forcestyle></forcestyle>
		<forceiconset eval="true">ismobile()?"mobile":""</forceiconset>
		<forcecss eval="true">ismobile()?"mobile":""</forcecss>
		<forcejs eval="true">ismobile()?"mobile":""</forcejs>
		<forcexsl eval="true">ismobile()?"mobile":""</forcexsl>
		<regspagermin>25</regspagermin>
		<regspagerincr>25</regspagerincr>
		<regspagermax>200</regspagermax>
		<regspagerdef>50</regspagerdef>
		<semaphoretimeout>100000</semaphoretimeout><!-- in microseconds -->
		<regspagemobile>25</regspagemobile>
	</default>
	<dirs>
		<filesdir eval="true">getcwd()."/files"</filesdir>
		<cachedir eval="true">getcwd()."/cache"</cachedir>
		<inboxdir eval="true">getcwd()."/inbox"</inboxdir>
		<outboxdir eval="true">getcwd()."/outbox"</outboxdir>
	</dirs>
	<exts>
		<defaultext>.dat</defaultext>
		<inputext>.in</inputext>
		<outputext>.out</outputext>
		<logext>.log</logext>
		<emailext>.eml</emailext>
		<gzipext>.gz</gzipext>
		<objectext>.obj</objectext>
		<semext>.sem</semext>
		<zipext>.zip</zipext>
		<pdfext>.pdf</pdfext>
		<textext>.txt</textext>
		<tarext>.tar</tarext>
		<excelext>.xls</excelext>
		<wavext>.wav</wavext>
		<mp3ext>.mp3</mp3ext>
		<htmlext>.htm</htmlext>
		<sqlext>.sql</sqlext>
		<csvext>.csv</csvext>
		<xmlext>.xml</xmlext>
		<arrayext>.arr</arrayext>
		<pngext>.png</pngext>
		<targzipext>.tgz</targzipext>
		<tarbzipext>.tbz</tarbzipext>
	</exts>
	<cache>
		<cachegcenabled>true</cachegcenabled>
		<cachegctimeout>604800</cachegctimeout><!-- 86400 (1 day) * 7 = 604800 -->
		<cachegcprobability>1</cachegcprobability>
		<cachegcdivisor>100</cachegcdivisor>
		<usexml2arraycache>true</usexml2arraycache>
		<usearray2xmlcache>true</usearray2xmlcache>
		<usexml2htmlcache>true</usexml2htmlcache>
		<usecsscache>true</usecsscache>
		<usejscache>true</usejscache>
		<usecssminify>true</usecssminify>
		<usejsminify>true</usejsminify>
		<usexmlminify>true</usexmlminify>
		<usehtmlminify>true</usehtmlminify>
		<useimginline eval="true">ismsie()?"false":"true"</useimginline>
	</cache>
	<commands>
		<unoconv>unoconv</unoconv><!-- for unoconv module -->
		<__unoconv__>-f pdf -o __OUTPUT__ __INPUT__</__unoconv__>
		<__unoconv_about__>--show 2&gt;&amp;1</__unoconv_about__>
		<pdftotext>pdftotext</pdftotext><!-- for unoconv module -->
		<__pdftotext__>-nopgbrk -layout __INPUT__ __OUTPUT__</__pdftotext__>
		<text2wave>text2wave</text2wave><!-- for voice module -->
		<__text2wave__>__INPUT__ -o __OUTPUT__</__text2wave__>
		<__text2wave_es__>-eval '(voice_JuntaDeAndalucia_es_sf_diphone)' __INPUT__ -o __OUTPUT__</__text2wave_es__>
		<__text2wave_en__>-eval '(voice_nitech_us_bdl_arctic_hts)' __INPUT__ -o __OUTPUT__</__text2wave_en__>
		<wavetomp3>lame</wavetomp3><!-- for voice module -->
		<__wavetomp3__>__INPUT__ __OUTPUT__</__wavetomp3__>
		<apertium>apertium</apertium><!-- for translate module -->
		<__apertium__>-f txtu __LANGS__ &lt; __INPUT__</__apertium__>
		<__apertium_langs__>-l</__apertium_langs__>
		<aspell>aspell</aspell><!-- for translate module -->
		<__aspell__>-a --mode=none --sug-mode=ultra -l __LANG__ &lt; __INPUT__</__aspell__>
		<__aspell_langs__>dump dicts</__aspell_langs__>
		<which>which</which><!-- for check commands -->
		<__which__>__INPUT__</__which__>
	</commands>
	<debug>
		<actiondebug>false</actiondebug>
		<langdebug>false</langdebug>
		<alertdebug>false</alertdebug>
		<errordebug>false</errordebug>
		<cancelgetmail>false</cancelgetmail>
		<cancelsendmail>false</cancelsendmail>
		<cancelfeeds>false</cancelfeeds>
		<getmaildebug>false</getmaildebug>
		<getmailmsgid></getmailmsgid>
		<logfile>saltos.log</logfile>
		<errorfile>error.log</errorfile>
		<warningfile>warning.log</warningfile>
		<maxlines>1000</maxlines>
	</debug>
	<parser>
		<preevals>
			<preeval>make_insert_query</preeval>
			<preeval>make_update_query</preeval>
			<preeval>make_update_config</preeval>
			<preeval>make_dependencies_query</preeval>
		</preevals>
	</parser>
	<styles>
		<cache ifeval="!ismobile()">
			<include>lib/jquery/jquery.colorpicker.css</include>
			<include>lib/jquery/jquery.ptTimeSelect.css</include>
			<include>lib/jquery/jquery.jgrowl.css</include>
			<include>lib/codemirror/codemirror.min.css</include>
			<include>lib/codemirror/codemirror.theme.min.css</include>
			<include>lib/codemirror/codemirror.addon.min.css</include>
			<include>lib/d3js/nv.d3.min.css</include>
		</cache>
	</styles>
	<javascript>
		<cache ifeval="!ismobile()">
			<include>lib/phpjs/php.saltos.min.js</include>
			<include ifeval="ismsie(array(6,7,8))">lib/jquery/jquery-1.11.0.min.js</include>
			<include ifeval="!ismsie(array(6,7,8))">lib/jquery/jquery-2.1.0.min.js</include>
			<include>lib/jquery/jquery.kookie.js</include>
			<include>lib/jquery/jquery.form.js</include>
			<include>lib/jquery/jquery-ui-1.10.4.min.js</include>
			<include>lib/jquery/jquery.autogrow-textarea.js</include>
			<include>lib/jquery/jquery.blockUI.js</include>
			<include>lib/jquery/jquery.jgrowl.js</include>
		</cache>
		<cache ifeval="!ismobile()">
			<include>lib/jquery/jquery.colorpicker.js</include>
			<include>lib/jquery/jquery.ptTimeSelect.js</include>
			<include>lib/jquery/jquery.favicon.js</include>
			<include>lib/jquery/jquery.jplayer.js</include>
			<include>lib/jquery/jquery.columnizer.js</include>
			<include>lib/masonry/masonry.pkgd.min.js</include>
		</cache>
		<inline ifeval="!ismobile()">window.CKEDITOR_BASEPATH="lib/ckeditor/";</inline>
		<cache ifeval="!ismobile()">
			<include>lib/ckeditor/ckeditor.min.js</include>
			<include>lib/ckeditor/adapters/jquery.min.js</include>
			<include ifeval="!ismsie()">lib/pdfjs/pdf.min.js</include>
			<include ifeval="!ismsie()">lib/pdfjs/compatibility.min.js</include>
			<include ifeval="!ismsie()">lib/pdfjs/viewer.min.js</include>
			<include>lib/codemirror/codemirror.min.js</include>
			<include>lib/codemirror/codemirror.mode.min.js</include>
			<include>lib/codemirror/codemirror.addon.min.js</include>
			<include>lib/codemirror/codemirror.keymap.min.js</include>
			<include>lib/d3js/d3.min.js</include>
			<include>lib/d3js/nv.d3.min.js</include>
		</cache>
		<cache ifeval="ismobile()">
			<include>lib/phpjs/php.saltos.min.js</include>
			<include>lib/jquery/jquery-2.1.0.min.js</include>
			<include>lib/jquery/jquery.kookie.js</include>
			<include>lib/jquery/jquery.form.js</include>
			<include>lib/jquery/jquery.mobile-1.4.1.min.js</include>
			<include>lib/jquery/jquery.autogrow-textarea.js</include>
		</cache>
	</javascript>
	<configs>
		<application_title>Suite de Gestión Empresarial</application_title>
		<plot_list_size>1</plot_list_size>
		<plot_list_width>350</plot_list_width>
		<plot_list_height>200</plot_list_height>
		<plot_form_size>1</plot_form_size>
		<plot_form_width>350</plot_form_width>
		<plot_form_height>200</plot_form_height>
		<agenda_interval>30</agenda_interval>
		<inbox_interval>300</inbox_interval>
		<outbox_interval>30</outbox_interval>
		<feeds_interval>300</feeds_interval>
		<feeds_timeout>7</feeds_timeout>
		<session_interval>30</session_interval>
		<session_warning>300</session_warning>
		<water_actas_text>Confidencial</water_actas_text>
		<water_actas_posx>40</water_actas_posx>
		<water_actas_posy>220</water_actas_posy>
		<water_actas_size>100</water_actas_size>
		<water_actas_angle>60</water_actas_angle>
		<water_partes_text>Confidencial</water_partes_text>
		<water_partes_posx>40</water_partes_posx>
		<water_partes_posy>220</water_partes_posy>
		<water_partes_size>100</water_partes_size>
		<water_partes_angle>60</water_partes_angle>
		<water_facturas_text>Factura</water_facturas_text>
		<water_facturas_posx>40</water_facturas_posx>
		<water_facturas_posy>210</water_facturas_posy>
		<water_facturas_size>130</water_facturas_size>
		<water_facturas_angle>60</water_facturas_angle>
		<water_albaranes_text>Albarán</water_albaranes_text>
		<water_albaranes_posx>40</water_albaranes_posx>
		<water_albaranes_posy>210</water_albaranes_posy>
		<water_albaranes_size>130</water_albaranes_size>
		<water_albaranes_angle>60</water_albaranes_angle>
		<water_presupuestos_text>Presupuesto</water_presupuestos_text>
		<water_presupuestos_posx>40</water_presupuestos_posx>
		<water_presupuestos_posy>220</water_presupuestos_posy>
		<water_presupuestos_size>100</water_presupuestos_size>
		<water_presupuestos_angle>60</water_presupuestos_angle>
		<water_clientes_text>Información</water_clientes_text>
		<water_clientes_posx>40</water_clientes_posx>
		<water_clientes_posy>220</water_clientes_posy>
		<water_clientes_size>100</water_clientes_size>
		<water_clientes_angle>60</water_clientes_angle>
		<water_proyectos_text>Información</water_proyectos_text>
		<water_proyectos_posx>40</water_proyectos_posx>
		<water_proyectos_posy>220</water_proyectos_posy>
		<water_proyectos_size>100</water_proyectos_size>
		<water_proyectos_angle>60</water_proyectos_angle>
		<water_posiblescli_text>Información</water_posiblescli_text>
		<water_posiblescli_posx>40</water_posiblescli_posx>
		<water_posiblescli_posy>220</water_posiblescli_posy>
		<water_posiblescli_size>100</water_posiblescli_size>
		<water_posiblescli_angle>60</water_posiblescli_angle>
		<water_correo_text>Confidencial</water_correo_text>
		<water_correo_posx>40</water_correo_posx>
		<water_correo_posy>220</water_correo_posy>
		<water_correo_size>100</water_correo_size>
		<water_correo_angle>60</water_correo_angle>
		<water_feeds_text>Información</water_feeds_text>
		<water_feeds_posx>40</water_feeds_posx>
		<water_feeds_posy>220</water_feeds_posy>
		<water_feeds_size>100</water_feeds_size>
		<water_feeds_angle>60</water_feeds_angle>
		<logo_left>118</logo_left>
		<logo_top>15</logo_top>
		<logo_width>72</logo_width>
		<logo_height>15</logo_height>
		<logo_file>../img/deflogo.png</logo_file>
		<color_line>#666666</color_line>
		<color_text1>#ce141d</color_text1>
		<color_text2>#666666</color_text2>
		<email_host></email_host>
		<email_port></email_port>
		<email_extra></email_extra>
		<email_user></email_user>
		<email_pass></email_pass>
		<email_name></email_name>
		<email_from></email_from>
		<email_async>1</email_async>
		<email_support></email_support>
		<quick_button_f1>home</quick_button_f1>
		<quick_button_f2>correo</quick_button_f2>
		<quick_button_f3>agenda</quick_button_f3>
		<quick_button_f4>feeds</quick_button_f4>
		<quick_button_f5>buscador</quick_button_f5>
		<quick_button_f6></quick_button_f6>
		<quick_button_f7></quick_button_f7>
		<quick_button_f8></quick_button_f8>
		<quick_button_f9>profile</quick_button_f9>
		<quick_button_f10>support</quick_button_f10>
		<quick_button_f11>about</quick_button_f11>
		<quick_button_f12>logout</quick_button_f12>
		<accounting_currency>€</accounting_currency>
		<accounting_iva_name>I.V.A.</accounting_iva_name>
		<accounting_iva_value>18.00</accounting_iva_value>
		<accounting_irpf_name>I.R.P.F.</accounting_irpf_name>
		<accounting_irpf_value>15.00</accounting_irpf_value>
		<zero_padding_digits>5</zero_padding_digits>
		<invoice_count_size>3</invoice_count_size>
		<invoice_date_size>2</invoice_date_size>
	</configs>
	<ini_set>
		<session.bug_compat_42 ifeval="!isphp54()">On</session.bug_compat_42>
		<register_globals ifeval="!isphp54()">Off</register_globals>
		<memory_limit>128M</memory_limit><!-- to allow emails with 30Mb of attachments -->
		<max_execution_time>600</max_execution_time>
		<date.timezone>Europe/Madrid</date.timezone>
		<default_charset>UTF-8</default_charset>
		<gd.jpeg_ignore_warning>1</gd.jpeg_ignore_warning>
	</ini_set>
	<putenv>
		<PATH>/bin:/usr/bin:/usr/local/bin</PATH>
		<LANG>es_ES.UTF-8</LANG>
	</putenv>
	<captcha>
		<id>captcha</id>
		<width>90</width>
		<height>45</height>
		<letter>8</letter>
		<number>16</number>
		<angle>10</angle>
		<color>5C8ED1</color>
		<bgcolor>C8C8C8</bgcolor>
		<fgcolor>B4B4B4</fgcolor>
		<type>math</type><!-- captcha type can be number or math -->
		<length>5</length>
		<period>4</period>
		<amplitude>8</amplitude>
		<blur>true</blur>
	</captcha>
	<security>
		<filterenabled>true</filterenabled><!-- enable security module -->
		<maxretries>3</maxretries><!-- number of failed retries until displays captcha -->
		<allowremember>true</allowremember><!-- enable or disable the remember feature -->
		<cookietimeout>2592000</cookietimeout><!-- 86400 (1 day) * 30 = 2592000 (1 month aprox.) -->
		<minscore>50</minscore><!-- min password strength score -->
		<allowbasicauth>true</allowbasicauth><!-- enable or disable the basic auth feature -->
	</security>
	<defines>
		<htmlpage>body { margin:0px;padding:0px; }</htmlpage>
		<htmlbox>background:#ffffff</htmlbox>
		<htmltext>font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;font-size:11px;color:#333</htmltext>
		<plaintext>font-family:monospace;font-size:10px;color:#333</plaintext>
		<separator>border:0px;height:1px;background:#ccc</separator>
		<blockquote>border-left:#ccc 1px solid;margin:0px 0px 0px 0.8ex;padding-left:1ex</blockquote>
		<signature>font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;font-size:11px;color:#ccc</signature>
	</defines>
</root>
