<?xml version="1.0" encoding="UTF-8" ?>
<!--
 ____        _ _    ___  ____
/ ___|  __ _| | |_ / _ \/ ___|
\___ \ / _` | | __| | | \___ \
 ___) | (_| | | |_| |_| |___) |
|____/ \__,_|_|\__|\___/|____/

SaltOS: Framework to develop Rich Internet Applications
Copyright (C) 2007-2019 by Josep Sanz Campderrós
More information in http://www.saltos.org or info@saltos.org

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<root>
	<header ifeval="!ismobile()">
		<option>
			<label lang="true">menu</label>
			<onclick>toggle_menu()</onclick>
			<icon>fa fa-bars</icon>
			<tip lang="true">menutip</tip>
			<class>nowrap shortcut_ctrl_m</class>
		</option>
		<option ifeval="eval_bool(getDefault('enablecalculator'))">
			<label lang="true">calculator</label>
			<onclick>calculator()</onclick>
			<icon>fa fa-calculator</icon>
			<tip lang="true">calculatortip</tip>
			<class>nowrap shortcut_ctrl_j</class>
		</option>
		<option ifeval="eval_bool(getDefault('enabletranslator'))">
			<label eval="true">LANG(check_commands(getDefault('commands/translate'),60)?"translator":"corrector")</label>
			<onclick>translator()</onclick>
			<icon>fa fa-flag</icon>
			<tip eval="true">LANG(check_commands(getDefault('commands/translate'),60)?"translatortip":"correctortip")</tip>
			<class>nowrap shortcut_ctrl_k</class>
		</option>
	</header>
	<header ifeval="eval_bool(getDefault('enablevoice'))">
		<option>
			<label lang="true">playvoice</label>
			<onclick>play_voice()</onclick>
			<icon>fa fa-play</icon>
			<tip lang="true">playvoicetip</tip>
			<class>playvoice</class>
			<class2>none</class2>
		</option>
		<option>
			<label lang="true">stopvoice</label>
			<onclick>stop_voice()</onclick>
			<icon>fa fa-stop</icon>
			<tip lang="true">stopvoicetip</tip>
			<class>stopvoice</class>
			<class2>none</class2>
		</option>
		<option>
			<label lang="true">nextvoice</label>
			<onclick>next_voice()</onclick>
			<icon>fa fa-forward</icon>
			<tip lang="true">nextvoicetip</tip>
			<class>nextvoice</class>
			<class2>none</class2>
		</option>
		<option>
			<label lang="true">cancelvoice</label>
			<onclick>cancel_voice()</onclick>
			<icon>fa fa-eject</icon>
			<tip lang="true">cancelvoicetip</tip>
			<class>cancelvoice</class>
			<class2>none</class2>
		</option>
	</header>
	<header ifeval="!ismobile()">
		<temp global="rows" eval="true">$rows=execute_query_array("SELECT * FROM tbl_quick WHERE id_usuario='".current_user()."' ORDER BY id DESC")</temp>
		<temp global="rows" ifeval="!count($rows)" eval="true">$rows=array_reverse(array(
			array("codigo"=>CONFIG("quick_button_f1"),"button"=>"f1"),
			array("codigo"=>CONFIG("quick_button_f2"),"button"=>"f2"),
			array("codigo"=>CONFIG("quick_button_f3"),"button"=>"f3"),
			array("codigo"=>CONFIG("quick_button_f4"),"button"=>"f4"),
			array("codigo"=>CONFIG("quick_button_f5"),"button"=>"f5"),
			array("codigo"=>CONFIG("quick_button_f6"),"button"=>"f6"),
			array("codigo"=>CONFIG("quick_button_f7"),"button"=>"f7"),
			array("codigo"=>CONFIG("quick_button_f8"),"button"=>"f8"),
			array("codigo"=>CONFIG("quick_button_f9"),"button"=>"f9"),
			array("codigo"=>CONFIG("quick_button_f10"),"button"=>"f10"),
			array("codigo"=>CONFIG("quick_button_f11"),"button"=>"f11"),
			array("codigo"=>CONFIG("quick_button_f12"),"button"=>"f12")))</temp>
		<option global="rows,row,temp" foreach="rows" as="row" ifeval="($temp=$row['codigo'])!='' &amp;&amp; check_user($temp,'menu')">
			<label global="temp" eval="true">$temp?LANG("quick_$temp"):""</label>
			<onclick global="temp" eval="true">"opencontent('?page=$temp')"</onclick>
			<icon global="temp" eval="true">ICON($temp)</icon>
			<tip global="temp,row" eval="true">$temp?LANG("desc_$temp")." [".strtoupper($row["button"])."]":""</tip>
			<class global="temp,row" eval="true">"nowrap".($temp=="correo"?" number number_correo":"").($temp=="agenda"?" number number_agenda":"").($temp=="feeds"?" number number_feeds":"").(" shortcut_".$row["button"])</class>
			<class2>right</class2>
		</option>
	</header>
	<group>
		<label lang="true">gestiongeneral</label>
		<name>gestiongeneral</name>
		<class>menu</class>
		<temp ifeval="!ismobile()" global="temp" eval="true">$temp="home"</temp>
		<option ifeval="!ismobile()" include="xml/common/menuoptionslist.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="correo"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="agenda"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="feeds"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="favoritos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="documentos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="profile"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="support"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="about"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="logout"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
	</group>
	<temp eval="true">execute_query("SELECT COUNT(*) FROM tbl_folders WHERE id_usuario='".current_user()."'")==0?db_query(make_insert_query("tbl_folders",array(
		"id_usuario"=>current_user(),
		"name"=>LANG_ESCAPE("defaultfolder","folders")
	))):""</temp>
	<temp global="temp" eval="true">$temp="folders"</temp>
	<group global="temp" ifeval="$temp!='' &amp;&amp; check_user($temp,'menu')">
		<label global="temp" eval="true">LANG($temp)</label>
		<name>folders</name>
		<class>menu</class>
		<temp global="rows" eval="true">$rows=execute_query_array("SELECT * FROM tbl_folders WHERE id_usuario='".current_user()."' ORDER BY pos ASC")</temp>
		<temp global="id_folder" eval="true">$id_folder=getParam("id_folder")</temp>
		<option global="rows,row" foreach="rows" as="row">
			<label global="row" eval="true">$row["name"]</label>
			<onclick global="temp,row" eval="true">"opencontent('?page=$temp&amp;id_folder=".$row["id"]."')"</onclick>
			<icon>fa fa-folder-open</icon>
			<tip global="row" eval="true">$row["name"]</tip>
			<class global="row" eval="true">"nowrap droppable id_".$row["id"]." fn_dropregfolder depth_".$row["depth"]</class>
			<name global="row" eval="true">encode_bad_chars($row["name"])</name>
		</option>
	</group>
	<temp global="temp" eval="true">$temp=execute_query("SELECT COUNT(*) FROM tbl_filters WHERE id_usuario='".current_user()."'")</temp>
	<group global="temp" ifeval="$temp">
		<label lang="true">gestionfiltros</label>
		<name>gestionfiltros</name>
		<class>menu</class>
		<temp global="rows" eval="true">$rows=execute_query_array("
			SELECT DISTINCT
				'0' AS pos,
				id_aplicacion,
				'' AS nombre,
				'' AS querystring
			FROM tbl_filters
			WHERE id_usuario='".current_user()."'
			UNION
			SELECT DISTINCT
				'1' AS pos,
				id_aplicacion,
				nombre,
				querystring
			FROM tbl_filters
			WHERE id_usuario='".current_user()."'
			UNION
			SELECT DISTINCT
				'2' AS pos,
				id_aplicacion,
				'' nombre,
				'".base64_encode("action=limpiar")."' AS querystring
			FROM tbl_filters
			WHERE id_usuario='".current_user()."'
			ORDER BY id_aplicacion,pos,nombre")</temp>
		<option global="rows,row" foreach="rows" as="row">
			<temp global="row" eval="true">$row["codigo"]=id2page($row["id_aplicacion"])</temp>
			<temp global="row" eval="true">$row["nombre"]=implode(array_slice(array(LANG($row["codigo"]),$row["nombre"],LANG("limpiar")),$row["pos"],1))</temp>
			<temp global="row" eval="true">$row["id"]=implode(array_slice(array(LANG($row["codigo"]),$row["nombre"],""),$row["pos"],1))</temp>
			<temp global="row" eval="true">$row["icon"]=implode(array_slice(array(ICON($row["codigo"]),"fa fa-tag","fa fa-sync"),$row["pos"],1))</temp>
			<temp global="row" eval="true">$row["depth"]=implode(array_slice(array(0,1,1),$row["pos"],1))</temp>
			<label global="row" eval="true">$row["nombre"]</label>
			<onclick global="temp,row" eval="true">"opencontent('?page=".$row["codigo"]."&amp;".base64_decode($row["querystring"])."')"</onclick>
			<icon global="row" eval="true">$row["icon"]</icon>
			<class global="row" eval="true">"nowrap depth_".$row["depth"]</class>
			<name global="row" eval="true">encode_bad_chars($row["id"])</name>
		</option>
	</group>
	<group ifeval="(check_user('campanyas','menu') || check_user('posiblescli','menu') || check_user('presupuestos','menu') || check_user('actas','menu') || check_user('clientes','menu') || check_user('contactos','menu'))">
		<label lang="true">gestioncomercial</label>
		<name>gestioncomercial</name>
		<class>menu</class>
		<temp global="temp" eval="true">$temp="campanyas"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="posiblescli"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="presupuestos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="actas"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="clientes"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="contactos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
	</group>
	<group ifeval="(check_user('proyectos','menu') || check_user('seguimientos','menu') || check_user('partes','menu') || check_user('actas','menu') || check_user('incidencias','menu'))">
		<label lang="true">gestionproyectos</label>
		<name>gestionproyectos</name>
		<class>menu</class>
		<temp global="temp" eval="true">$temp="proyectos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="seguimientos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="partes"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="actas"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="incidencias"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
	</group>
	<group ifeval="(check_user('facturas','menu') || check_user('periodicas','menu') || check_user('proveedores','menu') || check_user('gastos','menu'))">
		<label lang="true">gestioncontabilidad</label>
		<name>gestioncontabilidad</name>
		<class>menu</class>
		<temp global="temp" eval="true">$temp="facturas"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="periodicas"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="proveedores"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="gastos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
	</group>
	<group ifeval="(check_user('productos','menu') || check_user('empleados','menu') || check_user('usuarios','menu') || check_user('grupos','menu'))">
		<label lang="true">gestionadministracion</label>
		<name>gestionadministracion</name>
		<class>menu</class>
		<temp global="temp" eval="true">$temp="productos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="empleados"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="usuarios"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="grupos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
	</group>
	<group ifeval="(check_user('cuentas','menu') || check_user('epigrafes','menu') || check_user('estados','menu') || check_user('formaspago','menu') || check_user('ivas','menu') || check_user('prioridades','menu') || check_user('tiposevento','textos') || check_user('tiposevento','menu'))">
		<label lang="true">gestiontipos</label>
		<name>gestiontipos</name>
		<class>menu</class>
		<temp global="temp" eval="true">$temp="cuentas"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="epigrafes"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="estados"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="formaspago"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="ivas"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="prioridades"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="textos"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="tiposevento"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
	</group>
	<group ifeval="(check_user('importaciones','menu') || check_user('maincfg','menu') || check_user('datacfg','menu') || check_user('errorlog','menu'))">
		<label lang="true">gestionsistema</label>
		<name>gestionsistema</name>
		<class>menu</class>
		<temp global="temp" eval="true">$temp="importaciones"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<option include="xml/common/menuoptionsquery.xml" replace="true"/>
		<option include="xml/common/menuoptionscreate.xml" replace="true"/>
		<option include="xml/common/menuoptionsfilter.xml" replace="true"/>
		<option include="xml/common/menuoptionsreset.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="maincfg"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="datacfg"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
		<temp global="temp" eval="true">$temp="errorlog"</temp>
		<option include="xml/common/menuoptionslist.xml" replace="true"/>
	</group>
</root>
