<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <!-- Show progress and sniff codes -->
    <arg value="ps"/>
    <arg name="colors"/>
    <!-- Make sniff report relative -->
    <arg name="basepath" value="."/>

    <file>.</file>
    <exclude-pattern>*/tmp/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/build/*</exclude-pattern>
    <exclude-pattern>*/fonts/*</exclude-pattern>

    <rule ref="Wdes">
        <exclude name="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.DeclareStrictTypesMissing"/>
        <exclude name="Generic.WhiteSpace.DisallowTabIndent.TabsUsed"/>
        <exclude name="Generic.Functions.FunctionCallArgumentSpacing.NoSpaceAfterComma"/>
        <exclude name="Generic.WhiteSpace.ScopeIndent.Incorrect"/>
        <exclude name="Generic.WhiteSpace.DisallowTabIndent.NonIndentTabsUsed"/>
        <exclude name="Generic.WhiteSpace.ScopeIndent.IncorrectExact"/>
        <exclude name="Generic.Functions.FunctionCallArgumentSpacing.SpaceBeforeComma"/>
        <exclude name="Generic.Functions.FunctionCallArgumentSpacing.TooMuchSpaceAfterComma"/>
        <exclude name="Generic.CodeAnalysis.EmptyStatement.DetectedElseif"/>
        <exclude name="Generic.Metrics.NestingLevel.MaxExceeded"/>
        <exclude name="Generic.WhiteSpace.IncrementDecrementSpacing.SpaceAfterIncrement"/><!-- To be fixed -->
        <exclude name="Generic.PHP.LowerCaseKeyword.Found"/><!-- To be fixed -->
        <exclude name="Generic.PHP.LowerCaseConstant.Found"/><!-- To be fixed -->
        <exclude name="Generic.Formatting.SpaceAfterCast.NoSpace"/><!-- To be fixed -->

        <exclude name="Squiz.PHP.DisallowSizeFunctionsInLoops.Found"/>
        <exclude name="Squiz.Strings.DoubleQuoteUsage.NotRequired"/>
        <exclude name="Squiz.Strings.ConcatenationSpacing.PaddingFound"/>
        <exclude name="Squiz.WhiteSpace.OperatorSpacing.NoSpaceAfter"/>
        <exclude name="Squiz.WhiteSpace.OperatorSpacing.NoSpaceBefore"/>
        <exclude name="Squiz.WhiteSpace.OperatorSpacing.SpacingBefore"/>
        <exclude name="Squiz.WhiteSpace.OperatorSpacing.SpacingAfter"/>
        <exclude name="Squiz.WhiteSpace.FunctionSpacing.After"/>
        <exclude name="Squiz.WhiteSpace.FunctionSpacing.Before"/>
        <exclude name="Squiz.Classes.ValidClassName.NotCamelCaps"/>
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.Indent"/>
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.BraceOnSameLine"/>
        <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpaceBeforeEquals"/><!-- To be fixed -->
        <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpaceAfterEquals"/><!-- To be fixed -->
        <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing.NoSpaceBeforeArg"/><!-- To be fixed -->
        <exclude name="Squiz.ControlStructures.ControlSignature.SpaceAfterKeyword"/>
        <exclude name="Squiz.ControlStructures.ControlSignature.NewlineAfterOpenBrace"/>
        <exclude name="Squiz.ControlStructures.ControlSignature.SpaceAfterCloseParenthesis"/>
        <exclude name="Squiz.ControlStructures.ForLoopDeclaration.SpacingBeforeFirst"/>
        <exclude name="Squiz.WhiteSpace.FunctionSpacing.AfterLast"/>
        <exclude name="Squiz.WhiteSpace.ControlStructureSpacing.SpacingAfterOpen"/>
        <exclude name="Squiz.WhiteSpace.ControlStructureSpacing.SpacingBeforeClose"/>
        <exclude name="Squiz.WhiteSpace.ScopeClosingBrace.Indent"/>
        <exclude name="Squiz.WhiteSpace.SuperfluousWhitespace.EndLine"/>
        <exclude name="Squiz.WhiteSpace.SemicolonSpacing.Incorrect"/><!-- To be fixed -->
        <exclude name="Squiz.WhiteSpace.LogicalOperatorSpacing.TooMuchSpaceBefore"/>
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.CloseBracketLine"/>
        <exclude name="Squiz.PHP.NonExecutableCode.Unreachable"/><!-- To be fixed -->

        <exclude name="SlevomatCodingStandard.TypeHints.LongTypeHints.UsedLongTypeHint"/><!-- To be fixed -->

        <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceBefore"/>
        <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceAfter"/>
        <exclude name="PSR12.Files.FileHeader.SpacingAfterBlock"/>
        <exclude name="PSR12.Classes.ClosingBrace.StatementAfter"/>
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.FirstExpressionLine"/>
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.CloseParenthesisLine"/>
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.LineIndent"/>
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.SpacingAfterOpenBrace"/>
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.SpacingBeforeOpenBrace"/>
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.SpaceAfterCloseBrace"/>
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.SpaceBeforeCloseBrace"/>

        <exclude name="PSR1.Methods.CamelCapsMethodName.NotCamelCaps"/>
        <exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace"/>
        <exclude name="PSR1.Classes.ClassDeclaration.MultipleClasses"/><!-- To be fixed -->

        <exclude name="PSR2.ControlStructures.ControlStructureSpacing.SpaceBeforeCloseBrace"/>
        <exclude name="PSR2.ControlStructures.ControlStructureSpacing.SpacingAfterOpenBrace"/>
        <exclude name="PSR2.Methods.FunctionCallSignature.SpaceAfterOpenBracket"/>
        <exclude name="PSR2.Methods.FunctionCallSignature.SpaceBeforeOpenBracket"/>
        <exclude name="PSR2.ControlStructures.SwitchDeclaration.WrongOpenercase"/>
        <exclude name="PSR2.ControlStructures.SwitchDeclaration.WrongOpenerdefault"/>
        <exclude name="PSR2.Classes.ClassDeclaration.OpenBraceNewLine"/>
        <exclude name="PSR2.Methods.MethodDeclaration.Underscore"/>
        <exclude name="PSR2.Methods.FunctionClosingBrace.SpacingBeforeClose"/>
        <exclude name="PSR2.Files.EndFileNewline.NoneFound"/><!-- To be fixed -->
        <exclude name="PSR2.ControlStructures.SwitchDeclaration.SpaceBeforeColonCASE"/>
        <exclude name="PSR2.ControlStructures.SwitchDeclaration.TerminatingComment"/><!-- Investigate -->

        <exclude name="PEAR.Functions.FunctionDeclaration.Indent"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.SpaceBeforeOpenBracket"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.SpaceBeforeCloseBracket"/>
        <exclude name="PEAR.Functions.FunctionDeclaration.CloseBracketLine"/>
        <exclude name="PEAR.WhiteSpace.ScopeClosingBrace.BreakIndent"/>
        <exclude name="PEAR.WhiteSpace.ScopeClosingBrace.Indent"/>
        <exclude name="PEAR.Functions.FunctionDeclaration.BraceOnSameLine"/>
        <exclude name="PEAR.ControlStructures.MultiLineCondition.SpacingAfterOpenBrace"/>
        <exclude name="PEAR.ControlStructures.ControlSignature.Found"/>
        <exclude name="PEAR.ControlStructures.MultiLineCondition.CloseBracketNewLine"/>
        <exclude name="PEAR.ControlStructures.MultiLineCondition.StartWithBoolean"/>
        <exclude name="PEAR.ControlStructures.MultiLineCondition.Alignment"/>
        <exclude name="PEAR.Classes.ClassDeclaration.OpenBraceNewLine"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.SpaceAfterOpenBracket"/>
        <exclude name="PEAR.NamingConventions.ValidClassName.StartWithCapital"/><!-- To be fixed -->
        <exclude name="PEAR.NamingConventions.ValidClassName.Invalid"/><!-- To be fixed -->

        <!-- Warnings -->
        <exclude name="Generic.Formatting.MultipleStatementAlignment.IncorrectWarning"/>
        <exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning"/>
        <exclude name="Generic.Files.LineLength.TooLong"/>
        <exclude name="Generic.PHP.NoSilencedErrors.Discouraged"/>
        <exclude name="PSR1.Files.SideEffects.FoundWithSymbols"/>
        <exclude name="Generic.Classes.DuplicateClassName.Found"/>
        <exclude name="Generic.Metrics.NestingLevel.TooHigh"/>
        <exclude name="Generic.CodeAnalysis.EmptyStatement.DetectedIf"/>
    </rule>

</ruleset>
