includes:
    - phpstan-baseline.neon
parameters:
    level: 1
    paths:
        - ./
    excludes_analyse:
        - vendor/
        - fonts/
        - scripts/

    # TODO review once we drop PHP 7.x support
    treatPhpDocTypesAsCertain: false
