includes:
    - phpstan-baseline.neon
parameters:
    level: max
    parallel:
        processTimeout: 120.0
    paths:
        - ./
    bootstrapFiles:
        - src/AutoConfig.php
    excludes_analyse:
        - vendor/
        - fonts/
        - scripts/
